<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="estabelecimento">{{estabelecimento.nome}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="estabelecimento-card">
          <ion-thumbnail class="foto-estabelecimento" slot="start">
            <img *ngIf="estabelecimento?.logo" src="{{estabelecimento.logo}}">
            <img *ngIf="!estabelecimento?.logo" src="assets/no_image.jpg">
          </ion-thumbnail>

          <div class="estabelecimento-content">
            <ion-segment mode="md" (ionChange)="segmentChanged($event)" [value]="selectedPage">
              <ion-segment-button value="informacoes">
                <ion-label>Informações</ion-label>
              </ion-segment-button>
              <ion-segment-button value="cupons">
                <ion-label>Cupons</ion-label>
              </ion-segment-button>
            </ion-segment>


            <app-informacoes-contents [estabelecimento]="estabelecimento" *ngIf="selectedPage === 'informacoes'"></app-informacoes-contents>
            <app-cupom-contents *ngIf="selectedPage === 'cupons'"></app-cupom-contents>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
