<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="edit-card">
          <p>Editar Informações Pessoais</p>
          <form class="form-edit" [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-input type="nome" formControlName="nome" placeholder="Nome"></ion-input>
            <ion-input type="text" formControlName="telefone"  placeholder="Telefone"></ion-input>
            <ion-col size="8" offset="2">
              <ion-button expand="block" type="submit">
                Editar
              </ion-button>
            </ion-col>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
