<ion-header>
  <ion-toolbar>
    <ion-title>estabelecimento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="estabelecimento-card">
          <ion-thumbnail class="foto-estabelecimento" slot="start" [routerLink]="['feed/:idCategoria']">
            <img src="assets/Untitled.png">
          </ion-thumbnail>

          <div class="estabelecimento-content">
            <ion-segment mode="md" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="informacoes">
                <ion-label>Informações</ion-label>
              </ion-segment-button>
              <ion-segment-button value="cupons">
                <ion-label>Cupons</ion-label>
              </ion-segment-button>
            </ion-segment>


            <div class="informacoes-content">

              <h5 class="title ion-no-margin ion-margin-bottom">Fotos</h5>

              <div class="fotos-list">

                <div class="item">
                  <!--            <img src="assets">-->
                  <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria']">
                    <img src="assets/Untitled.png">
                  </ion-thumbnail>
                </div>

                <div class="item">
                  <!--            <img src="assets">-->
                  <ion-thumbnail slot="start" [routerLink]="['feed/:idCategoria']">
                    <img src="assets/Untitled.png">
                  </ion-thumbnail>
                </div>
                <div class="item">
                  <!--            <img src="assets">-->
                  <ion-thumbnail slot="start" [routerLink]="['feed/:idCategoria']">
                    <img src="assets/Untitled.png">
                  </ion-thumbnail>
                </div>

                <div class="item">
                  <!--            <img src="assets">-->
                  <ion-thumbnail slot="start" [routerLink]="['feed/:idCategoria']">
                    <img src="assets/Untitled.png">
                  </ion-thumbnail>
                </div>

                <div class="item">
                  <!--            <img src="assets">-->
                  <ion-thumbnail slot="start" [routerLink]="['feed/:idCategoria']">
                    <img src="assets/Untitled.png">
                  </ion-thumbnail>
                </div>
              </div>

              <h5 class="title ion-no-margin ion-margin-bottom">Contatos</h5>
              <p class="text">
                (24) 2222-2222<br>
                (24) 2222-2222<br><br>
                @kinpai<br>
                www.kinpai.com.br
              </p>

              <h5 class="title ion-no-margin ion-margin-bottom">Formas De Pagamento</h5>
              <p class="text">
                Dinheiro<br>
                Cartão de Débito<br>
                Cartão de Crédito<br>
                Ticket
              </p>

              <h5 class="title ion-no-margin ion-margin-bottom">Horários</h5>
              <p class="text">
                <span>Segunda-feira:</span> 10h00 às 20h00 <br>
                <span>Terça-feira:</span> 10h00 às 20h00 <br>
                <span>Quarta-feira:</span> 10h00 às 20h00 <br>
                <span>Quinta-feira:</span> 10h00 às 20h00 <br>
                <span>Sexta-feira:</span> 10h00 às 20h00 <br>
                <span>Sábado:</span> 10h00 às 20h00 <br>
                <span>Domingo:</span> 10h00 às 20h00 <br>
              </p>

              <h5 class="title ion-no-margin ion-margin-bottom">Sobre</h5>
              <p class="text">
                Gastronomia, Japonês<br>
                Rua do Imperador, 150
              </p>

              <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor eu ipsum vel condimentum. Suspendisse faucibus nisl ac ultrices lacinia. Suspendisse sagittis eros eget venenatis congue. Duis in sem diam. Aenean ac dignissim tortor, et cursus massa. Nullam id ultrices nisi. Donec cursus metus non nisl porttitor elementum.</p>


            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
