<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>


        <h5 class="title ion-no-margin ion-margin-bottom">Cupons</h5>

        <div class="cupomBox">

          <div class="item">
<!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/estabelecimento/idEstabelecimento']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
          </div>

          <div class="item">
            <!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/estabelecimento/idEstabelecimento']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
          </div>
          <div class="item">
            <!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/estabelecimento/idEstabelecimento']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
          </div>

          <div class="item">
            <!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/estabelecimento/idEstabelecimento']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
          </div>

          <div class="item">
            <!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/estabelecimento/idEstabelecimento']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
          </div>

        </div>

<!--        <ion-list class="cupomBox" lines="none">-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--          <ion-item class="item">-->
<!--            <ion-label>10%</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-list>-->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 class="title ion-margin-bottom">Categorias</h5>

        <div class="categoriaBox">
          <div class="item" *ngFor="let categoria of categorias | async">
            <!--            <img src="assets">-->
            <ion-thumbnail slot="start" [routerLink]="['categoria', categoria.key]">
              <img *ngIf="categoria.imagem" src="{{categoria.imagem}}">
              <img *ngIf="!categoria.imagem" src="assets/no_image.jpg">
            </ion-thumbnail>
            <p>{{categoria.nome}}</p>
          </div>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 class="title ion-margin-bottom">Destaques</h5>

        <div class="estabelecimento-list">
          <div class="estabelecimento-item" *ngFor="let estabelecimento of estabelecimentos | async" >
            <ion-thumbnail slot="start" [routerLink]="['estabelecimento/', estabelecimento.key]">
              <img *ngIf="estabelecimento.logo" src="{{estabelecimento.logo}}">
              <img *ngIf="!estabelecimento.logo" src="assets/no_image.jpg">
            </ion-thumbnail>
            <div class="content">
              <ion-row>
                <p class="title">{{estabelecimento.nome}}</p>
                <a class="cupomLink ion-float-right">Ver Cupons</a>
              </ion-row>
              <ion-row>
                <p class="tags">{{estabelecimento.categoriaNome}}, {{estabelecimento.subcategoriaNome}}</p>
              </ion-row>
              <ion-row>
                <p class="adresss">{{estabelecimento.enderecos.rua}}</p>
              </ion-row>
            </div>
          </div>
        </div>




      </ion-col>
    </ion-row>
  </ion-grid>








</ion-content>
