<ion-header>
  <ion-toolbar>
    <ion-title>{{cupom?.nome}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cupom-card">
          <ion-thumbnail class="foto-cupom" slot="start">
            <img *ngIf="cupom?.imagem != ''" src="{{cupom?.imagem}}">
            <img *ngIf="cupom?.imagem == ''" src="assets/Untitled.png">
          </ion-thumbnail>

          <div class="cupom-content">



            <div class="informacoes-content">
              <h5 class="title ion-no-margin ion-margin-bottom">Sobre</h5>
              <p class="text">{{cupom?.descricao}}</p>


              <ion-row>
                <ion-col size="8" offset="2">
                  <ion-button *ngIf="!token" expand="block" (click)="generateCupom(cupom?.estabelecimentoKey)">
                    Pegar Cupom
                  </ion-button>
                  <p class="token" *ngIf="token">{{token}}</p>
                </ion-col>
              </ion-row>

            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
