<ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="categoria-content">

      </div>
      <ion-col size="12" class="categoria-contents">
        <div class="categoria-contents">
          <div class="categoria-item">
            <ion-thumbnail slot="start" [routerLink]="['/tabs/feed/idCategoria/idSubcategoria']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
            <p>Gastronomia</p>
          </div>
          <div class="categoria-item">
            <ion-thumbnail slot="start" [routerLink]="['']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
            <p>Gastronomia</p>
          </div>
          <div class="categoria-item">
            <ion-thumbnail slot="start" [routerLink]="['']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
            <p>Gastronomia</p>
          </div>
          <div class="categoria-item">
            <ion-thumbnail slot="start" [routerLink]="['']">
              <img src="assets/Untitled.png">
            </ion-thumbnail>
            <p>Gastronomia</p>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
